*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body{
  background-image: url("./images/background.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}


.logo{
  margin: 3rem 0 1rem 0;
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.insta {
  padding: 0 0 1rem 0;
  font-family: 'Mukta', sans-serif;
  font-weight:bolder;
  font-size: 1.3rem;
}

.logotiktokblack {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0.5rem 0 0;
}

.logoinstablack {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0 0 0 0.5rem;
}

.box-primary{
  width: 22rem;
  height: 2.4rem;
  text-align: center;
  font-family: 'Mukta', sans-serif;
  background-color: azure;
  padding: 1rem;
  margin-top: 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.5);
  font-weight: bolder;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}


.ponto::before {
  content: "▪️";
}

.carrinho{
  padding: 0 5.5rem 0 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.best{
  padding: 0 4.6rem 0 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.instagram{
  padding: 0 7.3rem 0 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.tiktok{
  padding: 0 7.9rem 0 1rem;
  width: 1.8rem;
  height: 1.8rem;
}

.text-options4 {
  margin: 2.5rem 0 8rem 0;
}

.text-options1,
.text-options2,
.text-options3,
.text-options4 {
  text-decoration: none;
  color: black;
  width: 24rem;
  height: 3rem;
  margin-top: 2.5rem;
  display: flex;
  background-color: azure;
  align-items: center;
  border-radius: 1rem;
  font-family: 'Mukta', sans-serif;
  font-weight: bold;
  transition: transform 0.3s ease; /* Adiciona a transição para a propriedade de transformação */
}

.text-options1:hover,
.text-options2:hover,
.text-options3:hover,
.text-options4:hover {
  transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.gd{
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  font-weight: bolder;
}

@media (max-width: 48rem) {
  .text-options1,
  .text-options2,
  .text-options3,
  .text-options4 {
    width: 20rem;
  }

  .box-primary{
    width: 18rem;
  }

  .carrinho{
    padding: 0 4rem 0 1rem;
  }
  
  .best{
    padding: 0 2.8rem 0 1rem;
  }
  
  .instagram{
    padding: 0 5rem 0 1rem;
  }
  
  .tiktok{
    padding: 0 6.2rem 0 1rem;
  }
}
